*,::after,::before {
    box-sizing: border-box;
    /* outline: 1px solid red; */
    margin: 0;
}
body{
    background-color: rgba(255, 174, 127, 0.548);
}
main{
    position: relative;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.cal-structor ,.output{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(145, 104, 184 , 0.2);
}
.cal-structor{
    /* border: 5px solid rgb(247, 0, 255); */
    box-shadow: 0 0 12px 2px black,
    inset 0 0 5px black;
    border-radius: 10px;
    padding-top: 10px;
    background-color: rgba(229, 255, 0, 0.419);

}
.output {
    box-shadow: inset ;
    padding-right: 10px;
    align-items: flex-end;
    justify-content:space-around;
    height: 90px;
    width: 310px;
    background-color: rgba(99, 136, 238, 0.562);
    border-radius: 10px;
    border: 1px solid rgba(4, 30, 102, 0.89) ;
    margin-top: 5px;
    box-shadow: inset -1px 2px 5px rgb(31, 1, 139);
    word-wrap: break-word;
    word-break: break-all;
}

.key-section{
   padding: 10px;
   display: grid;
   grid-template-columns: repeat(4,76px);
   grid-template-rows: repeat(5,65px);
}
.span-two{
   grid-column: span 2;
}

.key {
    text-align: center;
    height: 50px;
    padding: 5px 3px;
    border-radius: 12px;
    font-weight: 900;
    /* flex: 0 0 60px; */
}
.clear {
    font-size: large;
    font-weight: 900;
    color: aliceblue;
    background-color: rgba(255, 0, 0, 0.637);
}
.result {
    font-size: large;
    font-weight: 900;
    color: aliceblue;
    background-color: rgba(9, 255, 0, 0.637);
}
.operators{
    background-color: rgba(0, 0, 255, 0.226);
}
.delete {
    color: azure;
    background-color: rgba(214, 19, 19, 0.397);
}
.text-screen {
    color: rgba(34, 33, 33, 0.664);
}
.result-screen {
    font-size: 22px;
    font-weight: 700;
    
}
button{
    cursor: pointer;
}
footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: black;
    height: 25px;
    color: white;
    text-align: center;
}
a {
    color: white;
}